* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  display: contents;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  color-scheme: dark;
}

body {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  background-color: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(30,30,30);
  border-left: 1px solid gray;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border-left: 1px solid transparent;
  box-shadow:
    inset 0px 0px 0px 1px black, inset 0 0 10px 10px rgb(162, 162, 162);
  margin-left: 5px;

  &:hover {
    box-shadow:
      inset 0px 0px 0px 1px black, inset 0px 0px 10px 10px rgb(115, 115, 115);
  }
}

::-webkit-scrollbar-button {
  display: none;
}